.contenedor_imagen {
  height: 450px;
}

.imagen_Poster {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.type_movie {
  color: gray;
  font-size: 15px !important;
  text-transform: capitalize;
}

.subtitulo {
  margin: 10px 0px;
}

.contenedor_contenido {
  height: 100px;
}

.contenedor_card {
  border: 0px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
}

@supports (object-fit: cover) {
  .contenedor_imagen img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
